body {
  margin: 0;
  padding: 0;
  background: url(minerva.png);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.login-box {
  width: 400px;
  height: 500px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.register-box {
  width: 400px;
  height: 700px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.login-box p {
  margin: 5;
  padding: 0;
  font-weight: bold;
}
.login-box input {
  width: 100%;
  margin-bottom: 20px;
}
.login-box input[type='text'],
input[type='password'],
input[type='email'] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.login-box input[type='submit'] {
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.login-box input[type='submit']:hover {
  cursor: pointer;
  background: #39dc79;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
.login-box a:hover {
  color: #39dc79;
}

.menu {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

<!-- essa parte é só pra caixinha -- > .box_termo {
  background-color: #a7c3cf;
  padding: 10px;
  width: 387px;
  height: auto;
  overflow: hidden;
}

.input_box {
  background-color: #a7c3cf;
  padding: 10px;
  width: 387px;
  height: auto;
  overflow: hidden;
}

.texto_box {
  color: #204060;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
